/* your beautiful css styling goes here! */
body {
  background-color: #140B27;
  background-image: url("pinkStars.gif");
  font-family: "Press Start 2P", cursive;
  width: 100%;
  color: white;
}

h1 {
  color: white;
  text-shadow: 8px 8px #FC5F72;
  font-size: 3em;
  margin: 80px 0;
  text-align: center;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.textbox {
  color: white;
  background-color: #6D5274;
  border-radius: 4px;
  /*border: 5px solid #FBFFD3;*/
  width: 15em;
  padding: 0 10px;
  font-family: 'Bungee Hairline', cursive;
}

.authors {
  text-shadow: 3px 3px #FC5F72;
  text-align: center;
  margin-top: 30px;
}

.score {
  font-family: "Press Start 2P", cursive;
  font-size: 0.8em;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.board {
  display: inline-block;
  padding: 8px;
  background-color: #FBFFD3;
  border-radius: 8px;
  text-align: center;
}

svg {
  cursor: none;
  background-color: #332F6F;
  background-image: url('movingSpace.gif');
  border-radius: 8px;
}

svg .enemy {
  height: 80px;
}

svg .cat {
  height: 100px;
}
